attrs==22.1.0
biopandas==0.4.1
biopython==1.76
certifi==2022.12.7
charset-normalizer==2.1.1
customtkinter==4.6.3
darkdetect==0.7.1
idna==3.4
jsonschema==4.17.0
numpy==1.23.4
pandas==1.5.1
ProDy==2.2.0
PubChemPy==1.0.4
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyrsistent==0.19.2
python-dateutil==2.8.2
pytz==2022.6
rcsbsearch==0.2.3
requests==2.28.1
scipy==1.9.3
six==1.16.0
urllib3==1.26.12
XlsxWriter==3.0.3
