attrs==21.4.0
biopandas==0.2.9
biopython==1.79
black==22.3.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
et-xmlfile==1.1.0
idna==3.3
jsonschema==4.4.0
mypy-extensions==0.4.3
numpy==1.22.3
openpyxl==3.0.9
pandas==1.4.2
pathspec==0.9.0
platformdirs==2.5.1
ProDy==2.0.2
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.1
rcsbsearch==0.2.3
requests==2.27.1
scipy==1.8.0
six==1.16.0
tomli==2.0.1
tqdm==4.63.1
urllib3==1.26.9
